<% provide(:title, 'Code of Conduct') %>
<h1>Code of Conduct</h1>

<p>In the years since it was founded, My Other Mount is Tauren has earned a reputation on our server 
for integrity and maturity. Each of us, regardless of rank or the length of our membership, 
is responsible for upholding this reputation.</p>

<p>We believe that respect is only earned by respecting others. We trust our members to let this 
guide their actions, both within the guild and outside it. If you can't be civil, then remove 
yourself from the situation - by logging off, by leaving the area, or by not hitting that 
"reply to post" button. Remember that your actions reflect on all of us. Help us maintain 
our reputation for being a good guild full of good people, who would be welcome additions to any 
Aerie Peak event or group.</p>

<p>The following actions are not tolerated, and could be grounds for dismissal:</p>
<li>
    <ul>Harassment of fellow players, whether guilded or not. Any behavior intended to detract from someone's
        WoW experience is antithetical to our mission. Harassment directed towards you should be reported through 
        the systems built into the game, not used as an excuse for escalation.</ul>
    <ul>Derogatory language or harassment of fellow players based on: sexual orientation, race, 
        religion, physical or mental disability, gender, veteran status or marital status. All of our members 
        deserve a place where they can feel welcome and respected.</ul>
    <ul>Spamming, begging, or griefing. All of these actions are intended to disrupt the normal activity of fellow players, and as such are treated as harassing behaviors.</ul>
    <ul>Unethical playing. Guild members should be familiar with and abide by the: Blizzard Terms of Use, In-Game Policies, Blizzard Forum Policies, Blizzard End User License Agreement</ul>
</li>

<p>Within the guild, we highly encourage sharing, saying hello when you log in, and other 
activities which foster a sense of camaraderie and community. Though our members are expected to be 
self-sufficient, we all enjoy being part of a team, working towards larger goals with the aid of our friends.</p>

<p>Welcome to MOMiT!</p>