<% provide(:title, @title) %>
<h2 class="mb-3"><%= @title %></h2>
<hr>
<div id="guild_policies">
    <div>
    <ul id="gp_table_of_contents">
            <li><a href="#description_of_ranks">Description of Ranks</a></li>
            <li><a href="#alts_and_you_and_us">Alts and You and Us</a></li>
            <li><a href="#appropriate_chat">Appropriate Guild/Voice Chat</a></li>
            <li><a href="#raid_policies">Raid Policies</a></li>
            <li><a href="#loot_policies">Loot Policies</a></li>
            <li><a href="#banking_policies">Banking Policies</a></li>
            <li><a href="#other_things">Things We Hope You Don't Need to Know</a></li>
        </ul>
    </div>
    <p>If you have any questions or concerns about these policies, please contact the Admin via PM or In-Game message. Thank you.</p>
    <div>
        <h4>MOMiT Officers</h4>
        <ul>
            <li>Guild Admin: Anaea</li>
            <li>Steward: Dralektus - Raid Administration</li>
            <li>Steward: Kyte - Bank Administration</li>
        </ul>
    </div>
    <div>
        <h4 class="fragment_id" id="description_of_ranks">Description of Ranks</h4>
        <dl>
            <dt>Starting Rank: Initiate</dt>
            <dd>The Initiate rank is set up as a "testing the waters" rank -
                a chance for new recruits to get to know the guild, and for the guild to get to know them.
                Our guild is really about our members, and we know that sometimes there will be recruits
                who don't mesh well with the way we play. There's no obligation for Initiates to stay with us,
                and similarly we hope there are no hard feelings if an Initiate is asked not to join. We
                think there's a guild out there for everyone, and we truly wish everyone the best with finding a guild that suits them!
            </dd>
            <dt>Second Rank: Member</dt>
            <dd>Members are the foundation of the guild. They got our backs when we Raidin' dirty, and
                they share the love when a fellow guildie is in need. For more on what is expected of members,
                see the <%= link_to 'Code of Conduct', code_of_conduct_path %>. Guild members can see Public
                and Officer notes, have banking privileges, and like Initiates they get to speak and listen to the Guild
                chat. (Yes, we're chatty.) Members also have the ability to vote on incoming Initiates.
                <div>
                    We seek out members who demonstrate the following qualities:
                    <ul>
                        <li>respects the people behind the characters, both within and outside the guild</li>
                        <li>seeks to develop as a player, and seems to respond to suggestions</li>
                        <li>seeks to develop as part of our community, and seems willing to offer their own help and suggestions to other players</li>
                        <li>understands the MOMiT balance, and is able to maintain WoW perspective</li>
                    </ul>
                </div>
            </dd>
            <dt>Alt Rank</dt>
            <dd>We also have a rank, technically between Initiate and Member, for Alternate characters of guild
                members. For all intents and purposes the Alt rank is the same as the Member rank, with the same
                attendant responsibilities and privileges.
            </dd>
            <dt>Third Rank: Raider</dt>
            <dd>Raiders have only one privilege beyond Members - players in this rank get priority on a limited
                number of reserved raid slots. Loot considerations, website access, voice in policy decisions,
                and all other aspects of guild life are completely independent of this rank.
                <div>
                    We look for Raiders who demonstrate the following qualities:
                    <ul>
                        <li>all of our Member qualities</li>
                        <li>continually seeks to develop as a player and character, from understanding ability
                            rotations to maximizing their out-of-raid gear and raid-centric professions</li>
                        <li>responds well to a more laid-back raid environment, and doesn't take out in-raid frustrations on teammates</li>
                        <li>seeks to elevate the knowledge and understanding of the guild as a whole, from
                            discussing patch notes to brainstorming boss strategies</li>
                        <li>fulfills the additional requirements of the Raider Rank</li>
                    </ul>
                    Moving between Raider and Member rank is allowed and encouraged; this should work similarly
                    to Steward ranks where once someone decides they need to step down (or once we see a need
                    for more Raiders) people will have the opportunity to move into this rank. Members who are
                    interested in this rank should contact a Steward to discuss the situation.
                </div>
            </dd>
            <dt>Fourth Rank: Stewards</dt>
            <dd>The Stewards (Officers) are exactly what their titles say. These are the people responsible for
                the day to day maintenance of the guild. Each Steward has specific duties, in addition to the
                continual effort of ensuring that the guild is serving its members. These specific duties should
                be thought of as "spheres of influence" - the responsibilities of Stewards extend beyond and between
                any particular project.
            </dd>
            <dd>Any member may become a Steward. A member wishing to be considered for a Steward position should
                contact the Admin about his or her request. Should a position for Steward be open, considerations
                include active membership, leadership capacity, ability to devote the required time to the guild,
                and the desire to make a significant contribution to the development of the guild. Specific projects
                or expertise are encouraged.
            </dd>
            <dd>This rank is fluid, and Stewards may at any point decide that they do not have the time to devote
                to the guild. Said Steward will be ranked as Member, and another member who desires the position
                may be promoted. The title primarily refers to the amount of responsibility a member has agreed
                to take on, rather than any privilege or authority.
            </dd>
            <dt>Fifth Rank: Admin</dt>
            <dd>Under most circumstances the Admin is essentially another Steward, responsible for whatever activities
                have not been claimed or completed by the other officers. The Admin is involved in maintaining
                the guild on a daily basis, and should see his or her role as in keeping with the title of Administrator.
            </dd>
            <dd>However, when necessary, the Admin has final authority in all matters of policy and guild administration.</dd>
        </dl>
    </div>
    <div>
        <h4 class="fragment_id" id="alts_and_you_and_us">Alts and You and Us</h4>
        <dt>Baby Members</dt>
        <dd>MOMiT has no set limit on the number of alts a character may maintain in the Guild. However, all members
            are expected to remember that alts are admitted only to allow them access to the guild during their
            playing. Alts who operate purely to profit the main character, and not to level or grow, should not
            remain guilded. Alts who are inactive for more than three weeks may be sacrificed to heathen gods.
        </dd>
        <dt>Alt Loot Policy</dt>
        <dd>Max-level alts participating in guild sponsored events do not get ph4t l3wts unless the item would
            otherwise have been disenchanted. Exceptions, however, are made in the event that a player is asked
            by the Raid Leader/Officer to log his/her alt for a raid. In those situations, the alt will have
            full looting privileges.
        </dd>
        <dt>Switching Mains</dt>
        <dd>We understand that sometimes, you just get tired of a character. We want everyone to enjoy their game,
            and if that means switching characters then by all means do it! However, our obligation is also to
            ensure the stability of our raids. Therefore, the following rules apply:
            <ol>
                <li>The new main will be expected to perform at the level of the content he or she is signing
                    up for; we are not an alt-gearing service.</li>
                <li>The new main's eligibility for Raider rank will be entirely dependent on the current class
                    balance and needs of our raid; Raider rank is not transferable between alts and mains.</li>
                <li>In return, the new main can take the position of the old main on the SK list.</li>
            </ol>
            <dd>To change your main, you MUST send a private message on the site to our webmaster Breue. He'll
                need to make the change in our website software, and then we can cascade it into the in-game roster.</dd>
        </dd>
        <dt>Multiple Accounts</dt>
        <dd>Multi-box accounts are treated like normal alts. However, it's important to emphasize that we
           guild the player - not the toon. So we ask our members to let us know if someone other than themselves
           will be accessing the account, and to remove the toon once it no longer functions solely as an alt.
           If the account is given to a friend or to family, we ask that the member remove the toon from our ranks.
           The new owner may choose to apply should s/he wish, but that person will be treated just like any new applicant.
        </dd>
        <dt>My Other Mount is Worgen</dt>
        <dd>MOMiT has a Horde-side sister guild named My Other Mount is Worgen intended for leveling and social
            activity. MOMiW is open to all (and only) current MOMiT members.
            <div>
                Ranks:
                <ul>
                    <li>The GL rank of MOMiW is held by a MOMiT steward and will be handed to another MOMiT steward if the
                        current one steps down.</li>
                    <li>The rank of steward in MOMiW is for members who are particularly interested in maintaining MOMiW.</li>
                    <li>The rank of member in MOMiW is for all other members of MOMiT except MOMiT Initiates. This rank
                        is divided up based on who has authenticators. Basically, if you have one, you have bank access.
                        (Please note that sometimes it takes time for the authenticator to register so you might not be
                        in the appropriate rank right away. We are working on it!)</li>
                    <li>The rank of Initiate in MOMiW is for Initiates of MOMiT. When they are promoted in MOMiT then
                        it will be paralleled in MOMiW. Newly invited toons will also be Initiates at first until
                        a Steward promotes them.</li>
                </ul>
            </div>
        <dd>Invites: All members, except Initiates, have invite privileges. If you invite someone or are invited,
            please make sure the invited character has the person's main character in MOMiT identified in the
            public note. Any character without a tag is subject to immediate removal.
        </dd>
        <dd>Chat and Loot Policies: As with all other policies not explicitly stated here, the MOMiT guidelines apply.</dd>
        <dd>Raid Policy: MOMiW is a social and leveling guild for alts of members of MOMiT. It is not a raiding guild.
            Members are free to schedule any activities they would like, but they shouldn't conflict with official
            MOMiT progression raids.
        </dd>
        <dd>Scheduling Activities: The MOMiT calendar can be used for scheduling any MOMiW activities. Use your
            main character in MOMiT to sign up and use the notes field to identify your horde character.
        </dd>
        <dd>Banking Policies: In order to make leveling more enjoyable, the guild bank will provide bags and
            a low daily gold withdrawal for all members with authenticators. The intention is to not keep anything
            of high value in the MOMiW bank so we can keep access open. Feel free to take advantage of this
            resource, but please try to return the favor when you can. Initiates and members without authenticators
            do not have access to the bank.
        </dd>
    </div>
    <div>
        <h4 class="fragment_id" id="appropriate_chat">Appropriate Guild/Voice Chat</h4>
        <p>MOMIT is an adult guild. That means that there will be the occasional off-color remark in the
           guild chat and sometimes on VoIP. However, we also feel adult language requires adult responsibilities.
           So our chat policy boils down to: don't be a jerk, and if you do happen to offend someone, be
           mature when that person approaches you about it.
        </p>
        <p>That said, certain words WILL earn you the wrath of many members of the guild. Using "rape"
           synonymously with kill or defeat is degrading to women and against our code of conduct. Also
           in keeping with our guild policies, the word "gay" is not an insult.
        </p>
    </div>
    <div>
        <h4 class="fragment_id" id="raid_policies">Raid Policies</h4>
        <dt>Start Times</dt>
        <dd>MOMiT raids approximately three times a week. Weeknight raids will begin around 4:30 pm server time.</dd>
        <dd>Raid start times mean that players are expected to be at the instance and completely prepared at that time.
            Players who log in at that time will be considered late and may have lost their place in the raid.
        </dd>
        <dd>Invitations will go out between 30 and 15 minutes prior to the start of the raid. At 15 minutes prior
            to the start of a raid, slots are no longer reserved and Raid Leaders may, at their discretion,
            begin filling the raid over those who signed up but have not appeared. Exceptions are made for
            those who clear the situation in advance with a Raid Leader.
        </dd>
        <dt>Signing Up</dt>
        <dd>Raids will be scheduled via the website Event Calendar. Our event calendar will automatically queue
            those who sign up. The raid leader will move people into slots as determined by our raiding policies.
            Raiders have the first choice of a limited number of raid slots. The remaining slots will have no
            Raider/Member priority attached to them, and will be slotted first based on group composition and
            then on a first come first served basis.
        </dd>
        <dd>All queued players are highly encouraged to utilize the "comment" section to communicate special
            circumstances with Raid Leaders. If the raid is full but you'd like to attend, you should
            still queue in the event a slot opens up.
        </dd>
        <dd>Last minute signups will be on a first come first served basis. This policy extends to allied
            guilds and PUGs. We will absolutely reserve raid spaces for guild members who have signed up,
            and we will reserve raid spaces for guild members who have queued until a reasonable time. However,
            once we tell another player that he or she has a spot in the raid, we will not drop them because
            a member chose not to sign up or inform us of their plan to attend.
        </dd>
        <dd>If you are having technical difficulties with the calendar, please contact Breue.</dd>
        <dt>Raid Standards</dt>
        <dd>Please note that if you sign up for a raid, particularly a progression raid, you are agreeing to
            adhere to the following raid standards:
            <ul>
                <li>comes prepared with full consumables including food, oils/stones/poisons, elixirs/flasks, reagents</li>
                <li>comes fully repaired</li>
                <li>all gear is gemmed/enchanted as well as is reasonable</li>
                <li>is aware of gear/performance benchmarks for the raid instance, as outlined by the raid leader</li>
                <li>is familiar with strategies used, discussed for the raid instance</li>
                <li>can commit to the duration of the raid, unless cleared with a Raid Leader</li>
            </ul>
        </dd>
        <dt>Length of Raids</dt>
        <dd>Raids will be no more than three hours in length on weeknights, or four hours in length on
            weekends. In the event that a raid is not complete within that time frame, the raid may
            continue at the discretion of the parties involved; this is usually handled by a vote.
            However, any official attendance tracking will end at the scheduled time.
        </dd>
        <dt>Grouping Outside of MOMIT</dt>
        <dd>MOMIT encourages its members to raid, PUG, and hang out with other players and groups. We
            believe this strengthens our ties to the Aerie Peak community, encourages our members to hone
            their abilities, and provides us with a useful base of knowledge and strategies for tough fights.
        </dd>
        <dd>However, as we raid higher level content, we will need our guildies to be aware of raid timers
            and lockouts. We will need our members to think first about when we have scheduled raids in
            those instances, and ensure that the raid timer of their previous run will be reset by that point.
        </dd>
        <dd>Note that this applies primarily to progression raid zones.</dd>
        <dt>Maintaining Raid Standards</dt>
        <dd>In the event that someone is not able to maintain the performance standards for our raid team,
            the Stewards will discuss the situation with that player and work on finding a solution. We
            expect all of our raiders to be monitoring their own performance, and ultimately the
            responsibility for meeting our raid standards lies with the player.
        </dd>
    </div>
    <div>
        <h4 class="fragment_id" id="loot_policies">Loot Policies</h4>
        <dt>Five-Mans</dt>
        <dd>MOMiT uses Need/Greed, common sense looting in all five-man instances. In cases where a guildie
            is running for a specific item, we recommend discussing that situation with any PuGs and friends
            who might be on that run.
        </dd>
        <dt>Non-Progression Raids</dt>
        <dd>MOMiT run non-progression instances on a Loot Discussion policy. The raid is our loot council,
            and everyone is involved in figuring out who can use the item and how it will best benefit
            the raid. Ties are decided by random roll.
        </dd>
        <dd>The following Loot Courtesies are considered:
            <ol>
                <li>priority should be given to the gear for the spec/role currently being played, including hybrid roles.</li>
                <li>priority should be given to the highest armor value a class can wear.</li>
                <li>consideration should be given to the magnitude of the upgrade.</li>
                <li>consideration should be given to the number of items received in that run.</li>
            </ol>
        </dd>
        <dd>In general principle, we try to think of the guild in addition to our characters. It is not
            uncommon for guildies to pass in favor of the person with the most need, if that would benefit
            the guild more.
        </dd>
        <dt>Progression Raids</dt>
        <dd>In progression instances, we use a Suicide Kings loot system. We believe this "round robin"
            style system is ideal for casual, team-oriented guilds like our own. Our general loot
            philosophy is to distribute loot as evenly as possible throughout the raid, allowing our
            tiered attendance policies to ensure that progression is accounted for in our systems.
            You can learn more about the SK system <%= link_to 'here', loot_system_path %>, and read
            about our general loot philosphy <%= link_to 'here', loot_philosophy_path %>.
        </dd>
        <dd>New lists are rolled in based on attendance in the first week of a new tier of content,
            or until a first boss kill (whichever comes last). We also implement a one-month decay
            for non-active raiders, at which point they will be placed at the bottom of the SK list.
        </dd>
        <dd>Special cases, such as rare mounts, are handled outside of the loot system. Because these
            novelty items don't materially contribute to the raid's progression, we prefer to keep
            mounts free rolled among all participating raid members. Other items, such as legendaries,
            are handled on a case by case basis as will be discussed on the forums.
        </dd>
        <dd>In loot, as in all our processes, communication and teamwork are our guiding principles.</dd>
    </div>
    <div>
        <h4 class="fragment_id" id="banking_policies">Banking Policies</h4>
    </div>
    <div>
        <h4 class="fragment_id" id="other_things">Things We Hope You Don't Need to Know</h4>
        <p>MOMiT currently operates eight bank tabs. All members can view the items in each tab and
           deposit to the different tabs; withdrawal abilities are limited as follows.</p>
        <dt>Open Access</dt>
        <dd>The first bank tab is general access, and is intended to speed distribution of miscellaneous
            reputation items, consumables, and the occasional tradeskill item. Please DO NOT use this
            tab to store items you don't want to bother selling. This tab will be closely monitored for
            such abuses, and access may be limited if the situation warrants. All ranks except Retired
            have deposit and withdrawal access.
        </dd>
        <dt>Goofiness</dt>
        <dd>This tab is devoted to items intended to enhance the general well-being and good cheer of
            the guild. Booze, food that turns you into tiny creatures, and
            <a href="http://www.wowhead.com/item=40195" target="_blank"><b>[Pygmy Oil]</b></a>
            are all examples of the kinds of things we store here. All ranks except Retired have deposit and withdrawal access.
        </dd>
        <dt>Achievements</dt>
        <dd>This tab is for items to assist our guildmates with earning various achievements. This
            might be a rare phased food for <a href="http://www.wowhead.com/achievement=5753">Cataclysmically Delicious</a>,
            or a stack of <a href="http://www.wowhead.com/item=43004">Critter Bites</a> for
            <a href="http://www.wowhead.com/achievement=1781">Critter Gitter</a>. All ranks except
            Retired have deposit and withdrawal access.
        </dd>
        <dt>Tradeskill Mats</dt>
        <dd>
            The fourth tab is for items useful to tradeskills, preferably max level tradeskills. Recipes,
            <a href="http://www.wowhead.com/item=53643">Bolt of Embersilk Cloth</a>, and
            <a href="http://www.wowhead.com/item=52194">Demonseye</a> are some of the types of items
            we store here. This tab is operated on an honor system - each person who withdraws is
            expected to either replace those items or provide additional items of approximately equal
            value. Logs will be monitored. Member and higher ranks have withdrawal access.
        </dd>
        <dt>Tradeskill Items</dt>
        <dd>This tab is for items made with said tradeskill mats, particularly items that would be
            useful to other crafters or characters of max level. High level armor kits and glyphs
            are some of the types of items we store here. This tab is operated on an honor
            system - each person who withdraws is expected to either replace those items or provide
            additional items of approximately equal value. Logs will be monitored. Member and
            higher ranks have withdrawal access.
        </dd>
        <dt>Raid Consumables</dt>
        <dd>This bank tab is for raid consumables, such as max-stat food, elixirs, potions, and poisons are stored.</dd>
        <dd>Like the tradeskills tab, this tab is operated on an honor system - each person who withdraws
            is expected to either replace those items or provide additional consumables of approximately
            equal value. Logs will be monitored. Member and higher ranks have withdrawal access.
        </dd>
        <dt>Feasts</dt>
        <dd>This bank tab is for the collection of materials to create Pandaren Banquets and
            Great Pandaren Banquets. These items include:
            <ul>
                <li>Jewel Danio<br /></li>
                <li>Raw Tiger Steak</li>
                <li>Pink Turnip</li>
                <li>100 Year Soy Sauce</li>
            </ul>
            Members are asked not to withdraw from this tab unless they are crafting a banquet to use for a guild event.
        </dd>
        <dt>Steward Access</dt>
        <dd>The final bank tab is for high-level BoE raid items, shards from epic gear, and crafting
            materials that only drop from high level instances. Please see the New Member FAQ for
            specific details on how these are distributed; generally, main spec main characters
            may request BoE items for 1/2 cost. Alts and off-specs will be asked to pay just under
            AH value, or about 15% under WowEcon values. Items from disenchanting, like Sha Crystals,
            are also available for free to main-spec main characters. Please contact a Steward if you
            are interested in any of these items; only Stewards can withdraw from this tab.
        </dd>
        <dd>In addition, we use the sale of BoE items obtained on guild raids to bankroll the
            purchase of high end crafting mats. For instance, during the Firelands content tier
            we purchased Living Embers while demand was high and supply was relatively low. We
            operate a queue for the distribution of these items, which we'll announce when it
            becomes available. See the New Member FAQ, in the Announcements forum, for the most up to date list.
        </dd>
    </div>
    <div>
        <h4 class="fragment_id" id="other_things">Things We Hope You Don't Need to Know</h4>
        <dt>Inactivity</dt>
        <dd>Inactive accounts will be removed from the Guild after 1 month, unless the account
            holder has contacted the Admin or a Guild Officer about their extended absence. We
            understand that the Real World can interfere with WoW time, but unless we know better
            we'll assume that character has quit the game and thus the Guild. Private messages or
            website notices in the forum provided are a great way to alert other members of these situations.
        </dd>
        <dd>Inactive Members may or may not be notified of their pending removal, as time permits.
            Inactive Alts are subject to reckless and violent purges, as the mood strikes.
        </dd>
        <dt>Disciplinary Policies</dt>
        <dd>We are all adults here, and generally we expect our members to treat each other as
            the friends and colleagues we are. Issues should be raised in a respectful way, and
            each person should make an effort to understand the other's point of view and work to
            resolve any conflicts personally. The Stewards are available to mediate where needed,
            but they will do so guided by a general principle that we are a community, not a court,
            and we therefore have a strong preference for self-governance and self-reliance.
        </dd>
        <dd>However, the Stewards will vigorously enforce the terms of our Code of Conduct, and
            where infractions against these principles occur they may be dealt with summarily.
        </dd>
        <dt>How To Leave the Guild</dt>
        <dd>Should a player find that the guild is no longer a good fit for him or her, we
            request that the member message an officer or the admin to discuss the situation.
            If we can address the situation, we will. If we cannot, we will wish you the best
            as you look to find another home and will welcome your reapplication should you
            decide to return.
        </dd>
        <dd>Players who have been dismissed from the guild and seek to reapply will be handled
            on a case by case basis.
        </dd>
        <dd>If a player leaves without discussing the situation with the guild, he or she will
            not be allowed to reapply to MOMIT. Because you'll have hurt our feelings. Big meanie.
        </dd>
    </div>
</div>