<% provide(:title, 'Home') %>
<h1>MOMiT</h1>
<p>MOMIT is an adult, casual raiding guild established in August 2006.  Our goal continues to be building a tight-knit, 
friendly community of players to fully access and enjoy World of Warcraft's end game experience.  This aspect of the game 
is about more than the individual; it's about teamwork and developing worthwhile relationships with other fun and skilled 
players. We find those relationships meaningful enough to share our real world triumphs and tragedies, to make an effort 
to meet up at least once a year, and to continue our friendships even into other games.</p>

<p>We believe that our ideals can only thrive in an environment that encourages respect and trust. 
We understand that WoW is simply one small part of a full life, however enjoyable a part it is. 
Our policies seek to balance this reality with our mutual aspirations for progression, companionship, challenge, and discovery.</p>

<p>These are the ideals that unite us, and we welcome players who share our vision.</p>

<p>Raid Schedule: approximately 3x per week
Raid Start Times: 4:30 ST (7:30 EST) T, Th, & Sun</p>
