<% provide(:title, @title) %>
<h2 class="mb-3"><%= @title %></h2>
<div id="loot_philosophy">
    <div>
        <h4>Serving Two Masters: The Purpose of Loot</h4>
        <p>There is an inherent tension in raiding loot systems, a fundamental question that
           needs to be answered by each guild and each player: is loot a reward for effort
           put forth by the individual, or is it an investment in the larger goals of the guild?
        </p>
        <p>Some people see loot as their reward for the hours of farming, wiping, grinding,
           etc. that they've put into raiding. It's the little pellet we get when we press
           the right lever. For some people, getting that really awesome weapon or that final
           piece of the tier set is the end in and of itself.
        </p>
        <p>Other people see loot as an investment in other goals. Better loot means that the
           current bosses get easier, that the character and the raid can move on and kill
           more bosses. Loot, in this view, is the means to an end, not the end.
        </p>
        <p>The reason this question is so difficult is because it really isn't a binary answer;
           for most people, loot distribution has elements of both. Thus, because loot serves
           two purposes, there are often two different guiding philosophies behind how it should
           be allocated. The meeting of two different philosophies can and often does equal
           conflict, if either is held to be stronger than the other.
        </p>
        <p>The key, for us, is to balance these two goals. The key is to find the Middle Way of loot.</p>
    </div>
    <div>
        <h4>How These Principles Play Out</h4>
        <dl>
            <dt>Loot as Reward</dt>
            <dd>Let's begin the discussion by seeing how the different principles of loot might
                affect how loot is distributed. I'm going to start with what I think is the
                more common view: loot as reward.
            </dd>
            <dd>Under this guiding idea, we would see a couple of things. The guild that sees
                loot as a reward would ensure that:
                <ul>
                    <li>Veteran players receive loot first, and most. They've "earned" that
                        item through time invested in the guild's raids.
                    </li>
                    <li>The magnitude of the upgrade is unimportant. The value of the reward
                        doesn't change whether the person is wearing a blue or purple shoulders;
                        therefore, the current itemization does not matter.
                    </li>
                    <li>The "best utility" of an item is unimportant. If a player has "earned"
                        that loot, it doesn't matter if it's slightly misitemized for the class,
                        or if a better item would be available from a previous boss or through
                        other means. The value of the reward, again, is static.
                    </li>
                </ul>
            </dd>
            <dd>Guilds that see loot as a reward often end up with gear "pooled" on high attendance
                Raiders. You can usually find examples of this in larger "hardcore" raiding guilds,
                where often there's a significant disparity between what the Officers are wearing
                and what their more mid-level players are wearing. And remember that generally
                all of these guild members raid - there's rarely a "casual" rank.
            </dd>
            <dt>Loot as Investment</dt>
            <dd>Now let's look at a guild that operated under the idea that loot is an investment.
                You would likely see a couple of things:
                <ul>
                    <li>Newer players would receive loot quickly; they have had and possibly will
                        have less of an opportunity to gear up, and need to be able to perform at
                        level of the raid when necessary. Therefore, it's important that they
                        get gear when they can.
                    </li>
                    <li>The magnitude of the upgrade is most important; the team as a whole is
                        improved more by increasing the "power" of its weaker characters.
                        Therefore, the mage who busted his butt leveling tailoring and farming
                        mats for Spellstrike would get loot after the mage who just hit max level
                        and has not invested that time and effort.
                    </li>
                    <li>The "best utility" of an item is most important. Even a very large upgrade
                        for a class that won't use the item indefinitely is less valuable to
                        the guild than a moderate upgrade for a class that could benefit most
                        from that item. For instance, the [Shard of the Virtuous] would go to
                        a Paladin who might already have the [Light's Justice], even if the
                        Priest is only sporting [The Ancient Scepter of Sue-Min] - because at
                        some point that Priest should upgrade to the better itemized weapon anyway.
                    </li>
                </ul>
            </dd>
            <dd>Guilds that see loot as an investment end up with a more even distribution of loot
                across the guild; however, you'll also see that a great many of them struggle with
                retaining members. Their system is set up to preference people who are
                underprepared - so the people who are prepared gear-wise have little incentive
                to raid, and the people who were underprepared and become prepared also have
                little incentive to continue to raid. This loot philosophy is ideal for
                guild-hoppers; some of our good friends have found themselves in the position
                of gearing up, say, a healer only to have the healer move on to a more
                progressed guild once he's met the other guild's requirements.
            </dd>
        </dl>
    </div>
    <div>
        <h4>What These Principles Mean For Loot Systems</h4>
        <p>So leaving aside the problems that arise from the randomized nature of loot drops,
           you can see that many of these principles from both philosophies have merit. They
           also have drawbacks. I think it would be pretty rare for anyone to fall entirely
           in one camp or the other on these issues.
        </p>
        <p>I'd also argue that many loot distribution systems are an attempt to integrate these
           two views of loot, though they can preference one or the other overall. From the
           most arcane, micromanaged, Adam Smith-inspired DKP setup to the most minimalist
           Need/Greed rolling, guilds and players are trying to have their cake and eat it to.
        </p>
        <p>For instance, some guilds build very elaborate loot economies. They award DKP for
           "good" behaviors, they tax DKP to avoid inflation, they have sales and discounts
           for classes who would benefit "most" from an item's stats, and they will implement
           eligibility-requirements like owning the previous tier item before you can spend
           your DKP on the new tier item. I've seen systems that Alan Greenspan couldn't
           administer, with all the various supply/demand/points/inflations to keep balanced.
        </p>
        <p>And frequently, in the end, even these immensely complex systems will build
           "master looter" or "officer" discretion into the system regardless because the
           system just can't strike the right balance.
        </p>
    </div>
    <div>
        <h4>What These Principles Mean For MOMiT</h4>
        <p>So, we skipped the middleman and went right to the importance of human discretion. We
           trust our members - it is up to you all to decide how your loot slot should be used.
           We give you the freedom to acquire loot in a way that agrees with you - to choose
           your loot as a reward, or to use it as an investment.
        </p>
        <p>The balance lies with the individual, and it's your choice to find that balance
           for yourselves. The SK system is designed to allow each of you, in turn, to decide
           whether that item should be yours for the hard work you've put in, or if it should
           go to someone who would benefit more. Because these decisions are made in turn,
           the overall system too remains balanced and one person's choices in either direction
           do not in the end sway the system too much. (The various policies we've set up
           around raid slots, and SK decay helps balance some of these issues as well.)
        </p>
    </div>
    <div>
        <h4>What These Principles Mean For You</h4>
        <p>However, we aren't all experts on gear/itemization for all classes. We don't all
           have the rogue loot tables memorized. In order for human discretion to be effective,
           it needs to be backed up with knowledge.
        </p>
        <p>This is why it is VITAL to us that we communicate openly about loot. We rely on
           the collective expertise of the raid to ensure that whomever makes their decision
           has the information they need - whether it be about other comparable items, other
           classes' use for that item, or even just the item itself (e.g. Tier tokens).
        </p>
        <p>But once that information is distributed, it is equally important to remember that
           it's now up to the individual. The SK slot belongs to that person, and he or she
           has absolutely every right to use it as he or she sees fit - to balance for himself
           or herself the relative merits of loot as reward or loot as investment.
        </p>
        <p>I hope that helps you all understand the way we approach distributing loot.
           Please feel free to get in touch with me if you have any questions.
        </p>
    </div>
</div>