
  <td class="col text-center">
      Character Name
  </td>
  <td class="col text-center">
      Character Class
  </td>
  <td class="col text-center">
    <%= link_to "Tank", characters_byrole_path("tank") %>
  </td>
  <td class="col text-center">
    <%= link_to "Damage", characters_byrole_path("damage") %>
  </td>
  <td class="col text-center">
    <%= link_to "Healer", characters_byrole_path("healer") %>
  </td>
  <td class="col text-center">
    Main Role
  </td>

          