
  <td class="col text-center">
      Character Name
  </td>
  <td class="col text-center">
      Character Class
  </td>
  <td class="col text-center">
      Tank
  </td>
  <td class="col text-center">
      Damage
  </td>
  <td class="col text-center">
      Healer
  </td>
  <td class="col text-center">
      Main Role
  </td>

          