<% provide(:title, "Characters") %>
  <div class="table-responsive-md">
    <table class="table">
      <thead>
        <tr class="row">
            <%= render "char_header" %>
            <td class="col text-center">Username</td>
        </tr>
      </thead>
      <tbody>
          <% @characters.each do |c| %>
            <tr class="row bg-dark">
	          <%= render "char_display", character: c["character"], character_icon_loc: c["properties"][:display_icon] %>
	          <td class="col text-center">
	              <%= link_to c["character"].user.username, characters_byuser_path(c["character"].user.username) %>
	          </td>
	        </tr>
	      <% end %>
      </tbody>
    </table>
  </div>

