<% provide(:title, "Characters") %>
  <div class="table-responsive-md">
    <table class="table table-striped">
      <thead>
        <tr class="row">
            <%= render "char_header" %>
            <td class="col text-center">Username</td>
        </tr>
      </thead>
      <tbody>
          <% @characters.each do |c| %>
            <tr class="row">
	          <%= render "char_display", character: c %>
	          <td class="col text-center">
	              <%= link_to c.user.username, characters_byuser_path(c.user.username) %>
	          </td>
	        </tr>
	      <% end %>
      </tbody>
    </table>
  </div>
  
  <%= link_to "New Character", new_character_path %>

