<% provide(:title, @character.name) %>
  <div class="table-responsive-md">
    <table class="table">
      <thead>
        <tr class="row">
          <% @character.slice(:name, :charclass, :is_tank, :is_dps, :is_healer, :main_role).keys.each do |k| %>
	          <%= content_tag(:td, k, :class => "col") %>
          <% end %>
          <td>classicon</td>
        </tr>
      </thead>
      <tbody>
	      <tr class="row">
	            <% @character.slice(:name, :charclass, :is_tank, :is_dps, :is_healer, :main_role).values.each do |v| %>
	          <%= content_tag(:td, v, :class => "col") %>
          <% end %>
          <td><%= image_tag(@character_icon_loc) %></td>
        </tr>
      </tbody>
    </table>
  </div>
  


