<div class="custom_errors_bg">
    <div class="container">
        <div class="alert alert-secondary">
            <h1>Internal Server Error (500)</h1>
            <hr>
            <h4>I AM DEATHWING, THE DESTROYER, THE END OF ALL THINGS</h4>
            <p>Maybe it was Deathwing, maybe not, but something's been cataclysmed... Admins have been notified.</p>
            <a href="/" class="momit_red_text">Run away, little girl, run away!</a>
        </div>
    </div>
</div>
