<div class="custom_errors_bg">
    <div class="container">
        <div class="alert alert-secondary">
            <h1>Page Not Found (404)</h1>
            <hr>
            <p>Unlike Tÿnn, this resource seems to have vanished...</p>
            <a href="/" class="momit_red_text">Run away, little girl, run away!</a>
        </div>
    </div>
</div>
