/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

.container {
    margin-top: 100px;
}
.navbar {
    padding: 1rem 2rem;
}
.navbar li a {
    color: #f7f7f7;
    font-size: 1.1em;
    line-height: 40px;
}
.navbar .dropdown-menu a {
    color: #193A52;
}
.navbar .btn-group a {
    -webkit-appearance: none;
}
.login-links a:first-of-type {
    position:relative;
}
.login-links a:first-of-type:after {
    border-right: 1px solid #f7f7f7;
    height:50%;
    content:'';
    position:absolute;
    top: 25%;
    right: 0;
}
.login-links span {
    color: #88939e;
    padding: 1rem;
}
.momit_blue_bg {
    //background-color: #01395e;
    background-color: #193A52;
}
.momit_red_text {
    color: #800d35;
}
.momit_neutral_fg {
    color: #f7f7f7;
}
.momit_neutral_bg {
    background-color: #f7f7f7;
}