/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

/* global color variables */
$momit_white: #f7f7f7 !global;
$momit_blue: #193A52 !global;
$momit_red: #800d35 !global;
$momit_dark_red: #5a0a26 !global;

.container {
    margin-top: 110px;
}
.navbar {
    padding: 1rem 2rem;
    .btn-group a {
        -webkit-appearance: none;
    }
    .nav-item a {
        background-color: $momit_blue;
        color: $momit-white;
        &.active, &:hover {
            text-shadow: 1px 0px 0px $momit_white;
        }
    }
}
.navbar-toggler {
    background-color: $momit_white;
}
#navbarSupportedContent a.nav-link {
    color: $momit_white;
    font-size: 1.2em;
    line-height: 40px;
}
.login-links {
    a:first-of-type {
        position:relative;
        &:after {
            border-right: 1px solid #f7f7f7;
            height:50%;
            content:'';
            position:absolute;
            top: 25%;
            right: 0;
        }
    }
    span {
        color: #88939e;
        padding: 1rem;
    }
}
.momit_blue_bg {
    background-color: $momit_blue;
}
.momit_red_bg {
    background-color: $momit_red;
}
.momit_red_btn {
    background-color: $momit_red;
}
.momit_red_btn:hover {
    background-color: $momit_dark_red;
}
.momit_red_text {
    color: $momit_red;
}
.momit_neutral_fg {
    color: $momit_white;
}
.momit_neutral_bg {
    background-color: $momit_white;
}
.field {
    margin-bottom: 15px;

    label {
        margin-bottom: 0.1rem;
    }
}
.actions {
    margin-top: 30px;
    margin-bottom: 30px;
}
h1, h2 {
    color: $momit_red;
}

/* flash message css overrides */
.alert > ul {
    list-style-type: none;
    margin-bottom: 0px;
    padding-left: 10px;
}
.alert a.close {
    line-height: 1rem;
}