<p>Welcome, <%= @resource.username %>!</p>

<p>Please confirm your MOMiT account email through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
